body{
    height: 2000px;
    width: 2000px;
}

#btn{
    width: 20px;
    height: 20px;
    border: none;
    background: #fa0;
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
}

